.btn-primary {
    background-color: var(--bg-color) !important;
    border-color: var(--bg-color) !important;
    color: var(--hd-ft-text-color) !important;
}

.icon-text {
    padding-right: 0.5rem;
}
