<div class="contact-content">

    <div class="resume-sub-content">
        <h1 class="resume-title">    
            Resume
        </h1>
        <p class="resume-subtitle">
            <!-- <a href="https://TODO" target="_blank"> -->
                <i class="bi bi-file-earmark-pdf"></i>
                
                    Safely download my latest resume as a PDF
                    through Google Drive.
                
                <i class="bi bi-box-arrow-up-right"></i>

        </p>
    </div>

    <div class="contact-sub-content">
        <h1 class="contact-title">
            Contact
        </h1>
        <h4 class="contact-subtitle">

        </h4>

        <div class="email-form">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <label class="from-text" for="user_email">Your Email:</label>
                <br>
                <input class="from-form" id="user_email" type="email" formControlName="user_email" required>
              
                <br>

                <label class="title-text" for="email_title">Email Title:</label>
                <br>
                <input class="title-form" id="email_title" formControlName="email_title" required>
              
                <br>

                <label class="message-text" for="message">Your Message:</label>
                <br>
                <textarea class="message-form" id="message" formControlName="message" required></textarea>

                <br>

                <button type="submit" class="btn btn-primary submit-button">Send Email</button>
              </form>
        </div>
        
    </div>

</div>
