<div class="contact-content">

    <div class="resume-sub-content">
        <h1 class="resume-title">    
            Resume
        </h1>
        <p class="resume-subtitle">
            <a class="pdf-link" href="https://drive.google.com/drive/folders/1Y7IGpV2Q-G7IpCDscdpzvKqXjvJf7TJJ?usp=sharing" 
             target="_blank">
                <i class="bi bi-file-earmark-pdf"></i>

                        Download my latest resume (.pdf and .docx)
                        through Google Drive.
                
                <i class="bi bi-box-arrow-up-right"></i>
            </a>
        </p>
    </div>

    <div class="contact-sub-content">
        <h1 class="contact-title">
            Contact
        </h1>
        <p class="contact-subtitle">
            Requires external email application due to GitHub Pages limitations.
        </p>

        <div class="email-form">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <label class="from-text" for="user_email"><h4>Your Email:</h4></label>
                <br>
                <input class="from-form" id="user_email" type="email" formControlName="user_email" required>
              
                <br>

                <label class="title-text" for="email_title"><h4>Email Title:</h4></label>
                <br>
                <input class="title-form" id="email_title" formControlName="email_title" required>
              
                <br>

                <label class="message-text" for="message"><h4>Your Message:</h4></label>
                <br>
                <textarea class="message-form" id="message" formControlName="message" required></textarea>

                <br>

                <button type="submit" class="btn btn-primary submit-button">Send Email Using Extenal Application (Requires Valid Input)</button>
              </form>
        </div>

    </div>

</div>
