.contact-content {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1rem;
    align-items: flex-start;

    .resume-sub-content {
        padding-bottom: 2rem;

        .resume-subtitle {
            padding-top: 1rem;
            font-size: 1.2rem;
        }
    }

    .contact-contact {
        padding-bottom: 2rem;
    }
}
