<div class="not-found-content">
    <h1 class="title">Error: 404</h1>
    <h2 class="heading">Page not found!</h2>
    <h5 class="main-text">
        Sorry that page doesn't exist! If you believe this to be
        an error, please feel free to 
        <a href="https://github.com/stef-timmermans/stef-timmermans.github.io/issues"
         target="_blank" class="repo">
            report the error to me.
            <i class="bi bi-box-arrow-up-right"></i>
        </a>
    </h5>
    <a routerLink="/" class="btn btn-primary">Go to Home</a>
</div>
