.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10% 1rem 2%;
    background-color: var(--hd-ft-color);
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px; // Adjust gap for links
}

.nav-links .link {
    color: var(--hd-ft-text-color);
    text-decoration: none;
    font-size: 1.5rem; // Adjust text size for links
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px; // Adjust thickness of the underline here
      background-color: var(--hd-ft-text-color);
      transition: background-color 0.2s;
    }

    &:hover {
      color: var(--hovered-color);

      &::after {
        background-color: var(--hovered-color);
      }
    }

    transition: color 0.2s;
}

.spinning-cube {
    padding-right: 2rem;
}

.theme-switcher {
    margin-left: auto;
}
