<div class="header-content">

    <div class="spinning-cube">
        <a routerLink="/" matTooltip="Click here to go to the home page.">
            <div class="cube">
                <div class="face front"></div>
                <div class="face back"></div>
                <div class="face right"></div>
                <div class="face left"></div>
                <div class="face top"></div>
                <div class="face bottom"></div>
            </div>            
        </a>
    </div>

    <div class="nav-links" [class.open]="isSidePanelOpen">
        <a routerLink="/projects" class="link">Projects</a>
        <a routerLink="/about-me" class="link">About Me</a>
        <a routerLink="/contact" class="link">Resume and Contact</a>
        <button *ngIf="isSidePanelOpen" (click)="toggleSidePanel()" class="close-btn">X</button>
    </div>

    <button (click)="toggleSidePanel()" class="hamburger-btn">
        <i class="bi bi-list"></i>
    </button>

    <div class="theme-switcher">
        <app-theme-switch></app-theme-switch>
    </div>
    
</div>
