<div class="header-content">

    <div class="spinning-cube">
        <a routerLink="/" matTooltip="Click here to go to the home page.">
          <app-spinning-cube></app-spinning-cube>
        </a>
    </div>

    <div class="nav-links">
        <a href="/projects" class="link">Projects</a>
        <a href="/about-me" class="link">About Me</a>
        <a href="/contact" class="link">Resume and Contact</a>
    </div>

    <div class="theme-switcher">
        <app-theme-switch></app-theme-switch>
    </div>
    
</div>
