<div class="header-content">

    <div class="spinning-cube">
        <a routerLink="/" matTooltip="Go to the home page" (click)="closeSidePanel()">
            <div class="cube">
                <div class="face front"></div>
                <div class="face back"></div>
                <div class="face right"></div>
                <div class="face left"></div>
                <div class="face top"></div>
                <div class="face bottom"></div>
            </div>            
        </a>
    </div>    

    <div class="nav-links" [class.open]="isSidePanelOpen">
        <a routerLink="/" class="link" (click)="closeSidePanel()">Home</a>
        <a routerLink="/about-me" class="link" (click)="closeSidePanel()">About Me</a>
        <a routerLink="/projects" class="link" (click)="closeSidePanel()">Projects</a>
        <!---
        For now, remove the "Contact" page until I can figure out an appropriate serice to use
        to send emails. For now, include relevant information about myself on thes home page and
        the 

        <a routerLink="/contact" class="link" (click)="closeSidePanel()">Resume and Contact</a>
        -->
        <button *ngIf="isSidePanelOpen" (click)="toggleSidePanel()" class="close-btn">X</button>
    </div>    

    <button (click)="toggleSidePanel()" class="hamburger-btn">
        <i class="bi bi-list"></i>
    </button>

    <div class="theme-switcher">
        <app-theme-switch></app-theme-switch>
    </div>

</div>
