<div class="footer-content">
    <p class="author">Stef Timmermans — 2025</p>
    <p class="footer-description">
      <span class ="description-line-1">
          This is an open-source project built using Angular.
      </span>
      <span class="description-line-2">
        <a href="https://github.com/stef-timmermans/stef-timmermans.github.io" target="_blank" class="repo">
            View its repository on GitHub.
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </span>
    </p>
</div>
