.footer-content {
  text-align: center;
  padding: 1.5rem;
  border-top: 1px solid var(--border-color);
  background: var(--hd-ft-color);
  color: var(--secondary-color);
  font-size: .875rem;
}
.author {
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: .25rem;
}
.footer-description {
  margin: 0;
}
.description-line-1, .description-line-2 {
  display: block;
}
.repo { color: var(--secondary-color); text-underline-offset: 3px; &:hover { color: var(--hovered-color); } }
