<div class="home-content">
  <h1>Welcome to My Portfolio</h1>

  <div class="main-content">
    <div class="cube-container">
      <div class="top-left">
        <h2>Stef Timmermans</h2>
        <h3>Aspiring Software Engineer</h3>
        <p>Studying at Oregon State University</p>
      </div>

      <i class="bi bi-arrow-right" style="font-size: 10rem;"></i>
      <app-spinning-cube></app-spinning-cube>
      <i class="bi bi-arrow-right" style="font-size: 10rem;"></i>

      <div class="bottom-left">
        <p><i class="bi bi-github"></i> stef-timmermans</p>
        <p><i class="bi bi-linkedin"></i> stef-timmermans</p>
      </div>
    </div>
  </div>
</div>
