.home-content {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: flex-start;
}

.description-1 {
  padding-top: 1rem;
  margin-bottom: 1rem;

  // if screen is at least 601 pixels
  @media (min-width: 601px) {
    max-width: 50%;
  }

  // if screen is at least 1201 pixels
  @media (min-width: 1201px) {
    max-width: 25% !important;
  }
}

.description-2 {
  margin-bottom: 3rem;

  // if screen is at least 601 pixels
  @media (min-width: 601px) {
    max-width: 50%;
  }

  // if screen is at least 1201 pixels
  @media (min-width: 1201px) {
    max-width: 25% !important;
  }
}

.links {
  display: flex;
  flex-direction: column;

  .link {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      color: var(--hovered-color);
    }
    
    transition: color 0.2s;
  }
}
