<div class="home-content">
  <h1>Stef Timmermans</h1>
  <h4>
    MSc Student in Computing Science
  </h4>
  <p class="description-1">
    Computing Science MSc student at the University of Groningen,
    focusing on Data Science and Systems Complexity.
  </p>
  <p class="description-2">
    Completed a
    BSc in Computer Science at Oregon State University, with a focus
    on Computer Systems.
  </p>
  <div class="links">
    <a href="https://www.linkedin.com/in/stef-timmermans/" target="_blank" class="link">
      <i class="bi bi-linkedin"></i>
      <span>stef-timmermans</span>
    </a>
    <a href="https://github.com/stef-timmermans" target="_blank" class="link">
      <i class="bi bi-github"></i>
      <span>stef-timmermans</span>
    </a>
  </div>
</div>
