<div class="home-content">
  <h1>Stef Timmermans</h1>
  <h4>Aspiring Software Engineer</h4>
  <p class="description">
    Computing Science MSc student at University of Groningen, focusing on
    Data Science and Systems Complexity. Undergraduate BSc in Computer Science
    completed at Oregon State University, focused on Computer Systems.
  </p>
  <div class="links">
    <a href="https://github.com/stef-timmermans" target="_blank" class="link">
      <i class="bi bi-github"></i>
      <span>stef-timmermans</span>
      <i class="bi bi-box-arrow-up-right"></i>
    </a>
    <a href="https://www.linkedin.com/in/stef-timmermans/" target="_blank" class="link">
      <i class="bi bi-linkedin"></i>
      <span>stef-timmermans</span>
      <i class="bi bi-box-arrow-up-right"></i>
    </a>
  </div>
</div>
