.home-content {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.cube-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  margin: 0 0.5em; /* change this as per your need */
}
