.home-content {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 2rem 10%;
  align-items: flex-start;
}

.home-content p {
  margin-bottom: 1rem;
  max-width: 100%;
}

@media (min-width: 710px) {
  .home-content p {
    max-width: 50%;
  }
}

@media (min-width: 1201px) {
  .home-content p {
    max-width: 25%;
  }
}

.main-subtitle {
  padding-bottom: 1rem;
}

.home-content p:last-of-type {
  margin-bottom: 3rem;
}

.links {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .link {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.2s;

    &:hover {
      color: var(--hovered-color);
    }
  }
}
