.projects-page-content {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.projects-list {
    padding-top: 1rem;
}

.project-container {
    padding-top: 2rem;
}
