.projects-page-content {
    
    background-color: var(--bg-color);
    color: var(--text-color);

    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
