.resume-content {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1rem;
    align-items: flex-start;

    .main-subtitle {
        padding-bottom: 1rem;
    }

    padding-bottom: 4rem;
}

.links {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  
    .link {
        color: var(--text-color);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    
        &:hover {
            color: var(--hovered-color);
        }
        
        transition: color 0.2s;
    }
}
