/* Assign the colors for light and dark mode themes */
:root {
  --bg-color: #fafafa; /* Soft white */
  --hd-ft-color: #757575; /* Mid gray */
  --text-color: #333333; /* Dark gray */
  --cube-color: #333333; /* Dark gray cube */
  --secondary-color: #757575; /* Mid gray for secondary text */
  --primary-color: #1e88e5; /* Primary color */
  --accent-color: #ff4081; /* Accent color */
  --hovered-color: #1e88e5; /* Blue for hovered links */
}

.dark {
  --bg-color: #2b2b2b; /* Darker gray */
  --hd-ft-color: #525252; /* Light gray */
  --text-color: #eeeeee; /* Soft white */
  --cube-color: #eeeeee; /* White cube */
  --secondary-color: #bdbdbd; /* Lighter gray for secondary text in dark mode */
  --primary-color: #90caf9; /* Primary color */
  --accent-color: #ff80ab; /* Accent color */
  --hovered-color: #787878; /* Gray for hovered links */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

app-header, app-footer {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
