.about-me-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 3.5rem 1.5rem 4rem;
}
.main-subtitle {
  margin-bottom: 2rem;
}
p, li {
  color: var(--secondary-color);
}
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
li {
  margin-bottom: .65rem;
}
strong {
  color: var(--text-color);
}
