.about-me-content {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: rem;
    align-items: flex-start;

    .main-subtitle {
        padding-bottom: 1rem;
    }

    padding-bottom: 2rem;

    .profile-pic {
        float: right; /* Wrap text around image */
        width: 40%; /* Adjust size */
        margin: 0 0 10px 10px; /* Space around image */
        height: auto; /* Maintain aspect ratio */
        border-radius: 50%; /* Rounded borders */
    }
}

.link {
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      color: var(--hovered-color);
    }
    
    transition: color 0.2s;
}
