<div class="about-me-content">
    <h1 class="main-title">About Me</h1>
    <h4 class="main-subtitle">A little bit about me...</h4>
    <p class="main-body">
        Hello! I'm Stef, a dual-citizen of the USA and the Netherlands,
        and a Senior Computer Science  student from Portland. As I wrap
        up my undergraduate degree at Oregon State University, I'm 
        particularly driven by the boundless potential of free and
        open-source software, a passion I follow through my personal
        projects.

        <br><br>

        My academic journey at Oregon State has encompassed a wide range
        of topics, from algorithms and web development (evident in my
        Capstone project), to databases, operating systems, and theory
        of computation.

        <br><br>

        In my downtime, I gravitate towards strumming the guitar and
        revisiting my favorite classic video games - notably, Star Fox 64
        on the Nintendo 64. These pursuits, coupled with my passion for
        crafting inventive cocktails for friends, serve as a creative
        outlet that complements my technical endeavors.

        <br><br>

        Looking forward, I'm eagerly seeking a Summer 2024 internship
        in the Portland area. Post-graduation, I aim to harness my dual
        citizenship by moving to the Netherlands to pursue an MSc in Computer 
        Science. This will allow me to broaden my technical expertise while
        gaining a global perspective  and experiencing the culture of my
        second home.

        <br><br>

        <a routerLink="/contact" class="link">
            If you'd like to connect or have any questions, please feel free to 
            view my resume and contact me on my contact page.
        </a>
    </p>
</div>
