<div class="about-me-content">
    <h1 class="main-title">About Me</h1>
    <h4 class="main-subtitle">A little bit about me.</h4>
    <p class="main-body">
        Hello! I'm Stef, a dual citizen of the USA and the Netherlands, and a
        master's student at the University of Groningen (Rijksuniversiteit
        Groningen) in the Netherlands. I am pursuing an MSc in Computing Science,
        focusing on Data Science and Systems Complexity. I obtained my BSc in
        Computer Science with a focus in Computer Systems from Oregon State University
        in the United States in 2024. I anticipate completing my MSc at the end of the
        2025/2026 academic year.

        <br><br>

        Thus far, my coding journey has been quite varied in terms of topics. More
        specifically, I have studied and/or uitilized the following extensively:
        <ul>
            <li>C/C++</li>
            <li>Vue.js, Angular, and React</li>
            <li>Data Science and Machine Learning</li>
            <li>Cloud Development (Kubernetes, Docker, Terraform, etc.)</li>
            <li>Highly-Available Systems</li>
            <li>PHP (using Symfony)</li>
            <li>Twig</li>
            <li>Python</li>
            <li>Algorithms and Theory of Computation</li>
            <li>Operating Systems, System Calls, and Traps</li>
            <li>Database Management Systems</li>
            <li>Assembly (x86, Microchip AVR, and general MIPS)</li>
            <li>Computer Architecture</li>
            <li>Software Engineering Practices</li>
        </ul>

        When I'm not studying or coding, you might find me cheering on my alma
        mater's football team, exploring classic video games, or experimenting
        in the kitchen!
</div>
